Exercise3Part1/Q4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Emp" type="empType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="empType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="eid" type="xs:string"/>
      <xs:element name="department" type="xs:string"/>
      <xs:element name="doj" type="xs:string"/>
      <xs:element name="salary" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
